.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 100px 1fr 20px;
}

@media (min-width: 440px) {
    .header {
        grid-template-columns: repeat(auto-fill, 1fr);
        grid-column-start: 1;
        grid-column-end: 4;
    }
}