.current-user, .visitor {
    display: grid;
    padding: 2px;
    height: 30px;
    /*color: rgb(119,253,119);*/
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(172,215,251);
    grid-area: user;
}

.visitor > button {
    padding: 0;
    height: 100%;
    grid-column: 1 / 4;
    color: blue;
}

.visitor > button:hover {
    cursor: pointer;
}

.current-user {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.current-user > div {
    color: rgb(119,253,119);
}

.active {
    font-weight: bold;
}

/*.user-panel {*/
     /*padding: 2px;*/
 /*}*/

.logout{

}