.user-panel{
    color: #C9BCB3;
}




.current-user {
    display: grid;
    padding: 2px;
    height: 30px;
    /*color: rgb(119,253,119);*/
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(172,215,251);
    grid-area: user;
    align-items: center;
}

.current-user {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.current-user > div {
    color: #F15A24;
}

.current-user > i {
    color: rgb(119,253,119);
}

.current-user > button {
    align-self: stretch;
}

.active {
    font-weight: bold;
}




/*<------------VISITORS - NON-AUTHED USERS----------->*/

.visitor {
    display: grid;
    padding: 2px;
    height: 30px;
    /*color: rgb(119,253,119);*/
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(172,215,251);
    grid-area: user;
    align-items: center;
}

.visitor :nth-child(1) {
    padding: 0;
    height: 100%;
    grid-column: 1 / 3;
    color: blue;
}

.visitor :nth-child(2) {
    padding: 0;
    height: 100%;
    grid-column: 3 / 5;
    color: blue;
}

.visitor > button:hover {
    cursor: pointer;
}