.headline {
    width: 100%;
    display: flex;
    border: 1px solid black;
    margin-bottom: 5px;
}

.headline p a {
    color: #4A6FB1;
}

.image-holder{
    height: 100%;
    display: flex;
    justify-content: center;
}

.image-thumbnail {
    display: block;
    align-self: center;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
    margin: auto;
}

.info {
  display: grid;
  grid-column-start: 2;
}

@media (min-width: 740px) {
    .headline {
        display: grid;
        grid-template-columns: 110px 1fr;
        border: 1px solid lightgray;
        max-height: 140px;
    }

    .image-thumbnail {
        display: block;
        max-width:100px;
        max-height:100px;
        width: auto;
        height: auto;
        margin: auto;
    }

    .info {
        padding: 20px;
    }
}