.headline {
    display: flex;
    border: 1px solid black;
}

.image-thumbnail {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
    margin: auto;
}

@media (min-width: 740px) {
    .headline {
        display: flex;
        border: 1px solid black;
    }

    .image-thumbnail {
        display: block;
        max-width:230px;
        max-height:95px;
        width: auto;
        height: auto;
        margin: auto;
    }
}