.nav {
    display: flex;
    /*color: rgb(119,253,119);*/
    background-color: rgb(172,215,251);
}

.nav a {
    color: rgb(119,253,119);
}

.active {
    font-weight: bold;
}

.nav li {
    margin-right: 15px;
}