* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*width: 100%;*/
}

.root-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    grid-template-areas:
      "header"
      "content"
}

@media (min-width: 440px) {
  .root-container{
    height: 100vh;
    grid-template-columns: 1000px 300px;
    grid-template-rows: 100px auto;
    grid-template-areas:
      "header header"
      "home side-panel"
  }
}
