* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.rootContainer {
    display: grid;
    grid-template-rows: 150px auto;
}

@media (min-width: 740px) {
  .rootContainer{
    grid-template-rows: 18px auto;
  }
}