.form-container {
  width: 50%;
  height: 500px;
  border: 1px solid black;
}

.editor {
  border: 1px solid pink;
}

.doi-input{
  margin-right: 10px;
  padding: 3px;
}

.doi-input-container{
  margin-bottom: 10px;
}